
div {
	border: 1px solid black;
}

html {
	font-family: 'Inconsolata', ;
	background-color: #CCCCCC;
}

#top-section {
	overflow: hidden;
	text-align: center;
}

.stock-icon {
	
}

.big-title {
	
	font-size: 24px;
	margin-top: 10px;
	text-transform: uppercase;


}

.question-image {
	display: block;
	margin: 0 auto;
}

#questions-section {
	margin: 0 auto;
    width: 60%;
    height: 585px;
    overflow: hidden;


	}

#question_wrapper {
	margin-top: 30px;
}

#answer_holder {
	
	margin-top: 30px;

}

#submit {
	margin-top: 20px;
}

#progress {
	list-style-type: none;
	display: -webkit-box;
	
}

.feedback_positive {
	color: green;
}

.feedback_negative {
	color: red;
}